@import "../utils/functions.scss";

.divCon {
  width: 100%;
  padding: 20px;

  @include responsivePro(mobile) {
    padding: 0px;
    margin-bottom: 20px;
  }

  @keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }

    30% {
      color: hsl(230, 80%, 90%);
      text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }

    40% {
      color: hsl(230, 100%, 95%);
      text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }

    70% {
      color: hsl(230, 80%, 90%);
      text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }

    100% {
      color: hsl(230, 40%, 80%);
      text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
  }

  .main {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    color: hsl(230, 100%, 95%);
    padding: 40px;
    background: linear-gradient(135deg, hsl(230, 40%, 12%), hsl(230, 20%, 7%));
    background: linear-gradient(
      180deg,
      rgba(205, 207, 255, 0.08) 0%,
      rgba(205, 207, 255, 0.05) 100%
    );
    border-radius: 10px;

    @include responsivePro(mobile) {
      flex-direction: column;
      padding: 20px;
    }

    i {
      font-size: 3rem;
      margin-bottom: 10px;
      color: #1c4df0;
      margin-right: 40px;
    }

    h1 {
      font-weight: 900;
      font-size: 3rem;
      // animation: lights 5s 750ms linear infinite;
      margin-bottom: 10px;
      background: linear-gradient(
        to bottom right,
        #fc7916 6.43%,
        #880ef7 56.45%,
        #1c4df0 74.55%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      font-size: 16px;
      width: 90%;
      text-align: left;

      @include responsivePro(mobile) {
        width: 100%;
      }
    }
  }
}
