@import './functions.scss';

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: $primaryFont;
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
    // background: #020611;
    color: #fff;
}
html{
    scroll-behavior: smooth;
}


body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #fff;
    // border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(131, 131, 131, 0.6);
    // border-radius: 1px;
}

body::-webkit-scrollbar-thumb:hover {
    background: rgba(131, 131, 131, 0.6);
}