@import '../utils/functions.scss';

.footer {
    padding: 100px 20px 40px;
    background: #01040D;

    #con {
        height: 100%;
    }

    #col1 {

        #header {
            display: flex;

            img {
                width: 135px;
                height: 29.2px;
            }
        }

        #formGroup {
            margin: 40px auto;

            label {
                font-weight: 400;
                font-size: 16px;
                line-height: 129.02%;
                margin-bottom: 10px;
            }

            #form {
                width: 100%;
                height: 79px;
                background: linear-gradient(180deg, rgba(205, 207, 255, 0.08) 0%, rgba(205, 207, 255, 0.05) 100%);
                border-radius: 10px;
                display: flex;

                input {
                    width: 80%;
                    height: 100%;
                    border: 1px solid transparent;
                    background: transparent;
                    outline: none;
                    padding: 0px 15px;
                    color: #fff;
                }

                button {
                    height: 100%;
                    width: 20%;
                    border: 1px solid transparent;
                    background: transparent;
                    color: #1C4DF0;
                }
            }
        }
    }

    #col2 {
        display: flex;
        justify-content: right;
        align-items: flex-start;

        a {
            color: #fff;
        }
    }

    #bottom {
        width: 100%;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        #socials {
            height: 50px;
            width: 200px;
            display: flex;
            justify-content: left;
            align-items: center;

            a {
                color: #fff;

                i {
                    font-size: 1.4rem;
                    margin-right: 10px;
                }
            }
        }


        p {
            margin: 0px;
            text-align: right;
            font-weight: 400;
            font-size: 16px;
            color: #CDC9C9;
        }
    }
}

.footerGamify {
    padding: 100px 20px 40px;
    // background: #01040D;
    border-top: 1px solid #04133f;

    #con {
        height: 100%;
    }

    h4{
        font-weight: 400;
        font-size: 16px;
        color: #CDC9C9;
        margin-top: 20px; 
    }

    
    h5{
        font-weight: 400;
        font-size: 16px;
        color: #898787;
        margin-top: 20px; 
    }


    #col2 {
        display: flex;
        justify-content: right;
        align-items: flex-start;

        a {
            color: #fff;
        }
    }

    #bottom {
        width: 100%;
        display: flex;
        justify-content: right;
        align-items: flex-end;
        flex-direction: column;

        @include responsivePro(mobile) {
            justify-content: left;
            align-items: flex-start;
          }
      
          @include responsivePro(exception) {
            width: 100%;
          }

        #socials {
            height: 50px;
            width: 200px;
            display: flex;
            justify-content: right;
            align-items: center;

            @include responsivePro(mobile) {
                justify-content: left;
              }


            a {
                color: #fff;

                i {
                    font-size: 1.4rem;
                    margin-right: 10px;
                }
            }
        }


        p {
            margin: 0px;
            text-align: right;
            font-weight: 400;
            font-size: 16px;
            color: rgb(35, 35, 146);
        }
    }
}