@import "../utils/functions.scss";

.activityCon {
  height: auto;
  padding: 20px 20px 40px;

  @include responsivePro(mobile) {
    height: auto;
    padding: 0px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    h1,
    #icon {
      font-weight: 500;
      font-size: 20px;
    }
  }

  .actBox {
    background: linear-gradient(
      180deg,
      rgba(205, 207, 255, 0.08) 0%,
      rgba(205, 207, 255, 0.05) 100%
    );
    border-radius: 10px;
    padding: 30px;

    #section {
      margin: 20px auto;

      h2 {
        font-weight: 500;
        font-size: 16px;
        line-height: 139.52%;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 20px;
      }

      #card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 0.5px solid #414044;
        padding: 20px;
        height: 100px;
        width: 100%;

        @include responsivePro(mobile) {
          flex-wrap: wrap;
          height: auto;
        }

        @include responsivePro(exception) {
          flex-wrap: wrap;
          height: auto;
        }

        div {
          height: 100%;
          width: 20%;

          @include responsivePro(mobile) {
            width: 50%;
            height: 70px;
          }

          @include responsivePro(exception) {
            width: 50%;
            height: 70px;
          }
        }

        #div {
          display: flex;
          justify-content: center;
          align-items: center;

          @include responsivePro(mobile) {
            justify-content: left;
          }

          @include responsivePro(exception) {
            justify-content: left;
          }
        }

        h4 {
          font-weight: 500;
          font-size: 12px;
        }

        #type {
          width: 30px;
          height: 30px;
          background: #1c4df0;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-size: 1rem;
        }

        #status {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-size: 1rem;
        }

        p {
          font-weight: 400;
          font-size: 16px;
          color: rgba(255, 255, 255, 0.7);
        }

        h3 {
          font-weight: 500;
          font-size: 16px;
          margin: 0px;
          margin-right: 10px;
        }

        a {
          color: #fff;
          text-decoration: #fff;
        }

        #share {
          font-size: 1rem;
          margin-bottom: 10px;
          cursor: pointer;
        }
      }
    }
  }
}

.placeholder_con {
  width: 90%;
  max-width: 600px;
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }

    30% {
      color: hsl(230, 80%, 90%);
      text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }

    40% {
      color: hsl(230, 100%, 95%);
      text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }

    70% {
      color: hsl(230, 80%, 90%);
      text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }

    100% {
      color: hsl(230, 40%, 80%);
      text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
  }

  > h1 {
    font-weight: 900;
    font-size: 1.5rem;
    animation: lights 5s 750ms linear infinite;
    text-align: center;
    margin-bottom: 2rem;
  }

  > div {
    width: 100%;
    position: relative;

    img {
      display: block;
      width: 100%;
      height: auto;
      max-height: 300px;
      max-height: 40vh;
      border-radius: 10px;
      object-fit: cover;
      object-position: center;
    }

    > div {
      padding: 2rem;
      background-color: #434c7e4f;
      // margin-top: -5rem;
      position: absolute;
      bottom: -5rem;
      width: 80%;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 10px;
      list-style-position: inside;
      backdrop-filter: blur(20px);
      border: 1px solid #9bb5da7e;

      h4 {
        text-align: center;
      }

      > ol {
        font-size: 0.9rem;
        line-height: 1.7;
      }
    }
  }
}
