@import "../utils/functions.scss";

// COMMON WRAPPER STYLE
.chatCardWrapper {
  font-family: $primaryFontLight;

  background: linear-gradient(180deg,
      rgba(94, 148, 255, 0.16) 0%,
      rgba(84, 142, 254, 0.1) 100%);
  width: 504px;
  height: fit-content;
  display: inline-flex;
  flex-direction: column;
  padding: 18px 22px;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;

  @include responsivePro(mobile) {
    width: 100%;
  }
}

// REUSABLE ROW COMPONENT STYLE
.chatCardRow {
  background: linear-gradient(180deg,
      rgba(205, 207, 255, 0.08) 0%,
      rgba(205, 207, 255, 0.05) 100%);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding: 8px 16px;
  border-radius: 3px;

  position: relative;

  div {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  >div:last-of-type {
    text-align: right;
    justify-content: center;
    gap: 4px;

    //
    aside {
      height: 40px;
      padding-left: 10px;
      display: flex;
      justify-content: space-between;
      gap: 5px;
      align-items: center;

      border-radius: 200px;
      background: #202631;

      div {
        height: 40px;
        width: 40px;
        border-radius: 50%;

        background: linear-gradient(152deg,
            #fc7916 0%,
            #880ef7 73.44%,
            #1c4df0 100%);

        @include responsivePro(small) {
          display: none;
        }
      }
    }
  }

  h4,
  h2,
  h5 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 139.523%;
    /* 22.324px */
  }

  h2,
  h4 {
    color: #fff;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
  }

  h4 {
    font-weight: 500;
  }

  h5 {
    color: #606b87;
    font-size: 14px;
    font-weight: 400;
  }

  @include responsivePro(tab) {
    flex-direction: column;

    >div:last-of-type {
      text-align: left;
    }
  }
}

// REUSABLE BUTTONS AND BUTTON CONTAINER COMPONENT STYLE
.chatCardBtns {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 100%;

  button {
    cursor: pointer;
    text-transform: capitalize;
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    outline: none;
    border: none;
    flex: 1;
    color: #fff;
    background: linear-gradient(180deg,
        rgba(255, 255, 255, 0.16) 0%,
        rgba(255, 255, 255, 0.1) 100%);
  }

  button:first-child {
    background: #1c4df0;
  }

  @include responsivePro(small) {
    flex-direction: column;
  }
}

// ERROR STYLE FOR CHATCARD BORROW
.chatErrorMsg {
  padding: 10px;
  border-radius: 4px;
  background: rgba(54, 2, 2, 0.3);
  margin-block: 8px 12px;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  color: #5a6789;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;

  img {
    width: 28px;
    height: 28px;
  }

  @include responsivePro(small) {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

//
.gasPump {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  width: 100%;
  margin-top: 8px;

  span {
    color: #c2d0e5;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.523%;
    /* 22.324px */
  }

  img {
    width: 28px;
    height: 28px;
  }
}

.chatCardSwapRow {
  h4 {
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
  }

  >span {
    width: 40px;
    height: 40px;
    background: linear-gradient(152deg,
        #ffb57d 0%,
        #880ef7 73.44%,
        #1c4df0 100%);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    display: grid;
    place-items: center;

    transform: translate(-50%, calc(-50% - 4px));

    svg {
      font-size: 1.8rem;
    }
  }
}

.chatCardBotPrice {
  margin-top: 10px;
  width: 90%;
  display: flex;
  justify-content: left;
  align-items: flex-start;

  @include responsivePro(mobile) {
    width: 100%;
    flex-direction: column;
  }

  @include responsivePro(exception) {
    width: 100%;
    flex-direction: column;
  }

  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;

    @include responsivePro(mobile) {
      margin-bottom: 10px;
    }

    @include responsivePro(exception) {
      margin-bottom: 10px;
    }
  }

  .message {
    height: auto;
    width: 600px;
    padding: 20px;
    background: linear-gradient(180deg, rgba(94, 148, 255, 0.16) 0%, rgba(84, 142, 254, 0.1) 100%);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    font-family: $primaryFontLight;

    @include responsivePro(mobile) {
      width: 100%;
      padding: 15px 14px;
    }

    h1,
    h4,
    h5 {
      text-align: left;
    }

    h5 {
      font-size: 15px;
      color: #ccc;

      span {
        color: #fff;
        font-weight: 900;
        text-transform: capitalize;
      }
    }

    h1 {
      font-size: 26px;
      font-weight: 900;

      span {
        color: #ccc;
        font-size: 13px;
        font-weight: 100;
      }
    }

    h4 {
      font-size: 14px;
      color: #ffb57d;

      span {
        color: #fff;
        font-weight: 900;
        font-size: 10px;
      }
    }

    .rise {
      color: green;
    }

    .fall {
      color: red;
    }

    .chat {
      width: 100%;
      height: 300px;
      margin-top: 20px;
      position: relative;

      @include responsivePro(mobile) {
        height: auto;
        width: 100%;
      }

    }
  }

}

.chatCardBotTrending {
  margin-top: 10px;
  width: 90%;
  display: flex;
  justify-content: left;
  align-items: flex-start;

  @include responsivePro(mobile) {
    width: 100%;
    flex-direction: column;
  }

  @include responsivePro(exception) {
    width: 100%;
    flex-direction: column;
  }

  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;

    @include responsivePro(mobile) {
      margin-bottom: 10px;
    }

    @include responsivePro(exception) {
      margin-bottom: 10px;
    }
  }

  .trendCoinsCon {
    border-radius: 10px;
    background: linear-gradient(180deg,
        rgba(94, 148, 255, 0.16) 0%,
        rgba(84, 142, 254, 0.1) 100%);
    // width: 100%;
    width: 600px;
    padding: 10px;

    @include responsivePro(mobile) {
      width: 100%;
    }
  }

  .trendCoins {
    overflow: auto;
    white-space: nowrap;
    /* Prevent line breaks */

    // Hide the scrollbar
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // Internet Explorer and Microsoft Edge

    // Style for Webkit browsers (Chrome, Safari)
    &::-webkit-scrollbar {
      height: 0;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    width: 100%;
    height: fit-content;
    max-height: 61vh;
    border-radius: 10px;
  }

  .coinList {
    padding: 10px;
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    text-transform: capitalize;
    font-family: $primaryFontLight;

    @include responsivePro(mobile) {
      font-size: 13px;
    }

    thead {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: #111d37;
      color: #bdbdbdd0;
    }

    th,
    td {
      padding: 8px;
      text-align: right;
    }

    td {
      border-block: 0.5px solid #2f3b55;
      min-height: 60px;
      min-width: 100px;

      @include responsivePro(mobile) {
        min-width: 80px;
      }

      @include responsivePro(small) {
        min-width: 70px;
      }
    }

    tbody {
      tr {
        &:hover {
          td {
            background-color: #13213f;
          }
        }
      }

      svg {
        margin-right: 4px;
      }

      p {
        margin: 0;
      }
    }

    .fixed {
      position: sticky;
      left: 0;
      background-color: #111d37;
      text-align: left;
      min-width: 150px;

      @include responsivePro(mobile) {
        min-width: 120px;
      }

      @include responsivePro(small) {
        min-width: 90px;
      }

      div {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4px 0;
      }

      p {
        &:first-of-type {
          min-width: 30px;
        }

        padding-inline: 4px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 6px 12px;
        text-transform: capitalize;

        img {
          border-radius: 50%;
          width: 17px;
          height: 17px;
        }

        .gray {
          color: #a5a5a598;
          text-transform: uppercase;
        }
      }
    }
  }
}